html {
  font: 100%/1.15 serif; /* 1./2. */
  -webkit-text-size-adjust: 100%; /* 3. */
}

body {margin: 0;
  margin: 0;
  margin: 0;
  margin: 0;
  margin-top: 0;}

body{
  font-family: Tahoma, Arial, sans-serif; /* 3. */
  max-width: 48rem; /* 1. */
  background: #cccccc;
  padding: 1.5rem; /* 1. */
  margin-left: auto; /* 2. */
  margin-right: auto; /* 2. */
}

h1 {margin: 0;
  margin: 0000;
  margin: 0000;
  margin: 0000;
  margin-top: 0;}

header {
  text-align: center
}
